:root {
  --badge-font-color: #fff;
  --acterr-button-color: #fff;
  --action-border-color: #134f7f;
  --action-background-color: #288edf;
  --action-background-color-hover: #4ca1e4;
  --action-background-color-active: #1e7dc8;
  --error-border-color: #7f1313;
  --error-background-color: #df2828;
  --error-background-color-hover: #e44c4c;
  --error-background-color-active: #c81e1e;
  --blue-color: #409EFF;
  --green-color: #19be6b;
  --gray-color: #909399;
  --warm-color: #ffb700;
  --red-color: #f56c6c;
  --gray-dark-bg-color: #454545;
  --gray-dark-border-color: #333434;
  --gray-dark-text-color: #c6c8c8;
  --gray-dark-text-border-color-focus: #0f64d2;
  --gray-dark-checkmark-color: #c6c8c8;
  --gray-dark-btn-bg-color: #595b5b;
  --gray-dark-btn-bg-color-hover: #626465;
  --gray-dark-btn-bg-color-active: #3f4041;
  --gray-dark-chkrdo-bg-color: #595b5b;
  --gray-dark-chkrdo-bg-color-active: #3f4041;
  --dark-bg-color: #323232;
  --dark-border-color: #191919;
  --dark-text-color: #adadad;
  --dark-text-border-color-focus: #0f64d2;
  --dark-checkmark-color: #adadad;
  --dark-btn-bg-color: #323232;
  --dark-btn-bg-color-hover: #292929;
  --dark-btn-bg-color-active: #1f1f1f;
  --dark-chkrdo-bg-color: #323232;
  --dark-chkrdo-bg-color-active: #1f1f1f;
  --medium-gray-bg-color: #8f8f8f;
  --medium-gray-border-color: #707070;
  --medium-gray-text-color: #323232;
  --medium-gray-text-border-color-focus: #1473e6;
  --medium-gray-checkmark-color: #323232;
  --medium-gray-btn-bg-color: #b8b8b8;
  --medium-gray-btn-bg-color-hover: #cccccc;
  --medium-gray-btn-bg-color-active: #808080;
  --medium-gray-chkrdo-bg-color: #cccccc;
  --medium-gray-chkrdo-bg-color-active: #8b8b8b;
  --light-bg-color: #cccccc;
  --light-border-color: #a8a8a8;
  --light-text-color: #787878;
  --light-text-border-color-focus: #1e76e3;
  --light-checkmark-color: #787878;
  --light-btn-bg-color: #f0f0f0;
  --light-btn-bg-color-hover: #fafafa;
  --light-btn-bg-color-active: #bfbfbf;
  --light-chkrdo-bg-color: #fafafa;
  --light-chkrdo-bg-color-active: #bfbfbf;
}
body {
  font-family: source-sans-pro, sans-serif;
}
.ace-btn,
.ace-btn--action,
.ace-btn--error {
  padding: 0 0.563rem;
  font-size: 12px;
  line-height: 1.4rem;
  letter-spacing: 0;
  border-radius: 4px;
  outline: 0;
  transition: background-color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94), border-color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.ace-btn img,
.ace-btn--action img,
.ace-btn--error img {
  min-height: 15px;
  min-width: 15px;
  vertical-align: middle;
  margin-right: 0.125rem;
}
.ace-btn span,
.ace-btn--action span,
.ace-btn--error span {
  vertical-align: middle;
}
.ace-btn:disabled,
.ace-btn--action:disabled,
.ace-btn--error:disabled {
  opacity: 0.6;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ace-btn--action,
.ace-btn--error {
  font-weight: 500;
}
.ace-btn--action:disabled,
.ace-btn--error:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
html[data-theme="gray-dark"] .ace-btn {
  color: var(--gray-dark-text-color);
  background-color: var(--gray-dark-btn-bg-color);
  border: 1px solid var(--gray-dark-border-color);
}
html[data-theme="gray-dark"] .ace-btn:hover {
  background-color: var(--gray-dark-btn-bg-color-hover);
}
html[data-theme="gray-dark"] .ace-btn:active {
  background-color: var(--gray-dark-btn-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="dark"] .ace-btn {
  color: var(--dark-text-color);
  background-color: var(--dark-btn-bg-color);
  border: 1px solid var(--dark-border-color);
}
html[data-theme="dark"] .ace-btn:hover {
  background-color: var(--dark-btn-bg-color-hover);
}
html[data-theme="dark"] .ace-btn:active {
  background-color: var(--dark-btn-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="medium-gray"] .ace-btn {
  color: var(--medium-gray-text-color);
  background-color: var(--medium-gray-btn-bg-color);
  border: 1px solid var(--medium-gray-border-color);
}
html[data-theme="medium-gray"] .ace-btn:hover {
  background-color: var(--medium-gray-btn-bg-color-hover);
}
html[data-theme="medium-gray"] .ace-btn:active {
  background-color: var(--medium-gray-btn-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="light"] .ace-btn {
  color: var(--light-text-color);
  background-color: var(--light-btn-bg-color);
  border: 1px solid var(--light-border-color);
}
html[data-theme="light"] .ace-btn:hover {
  background-color: var(--light-btn-bg-color-hover);
}
html[data-theme="light"] .ace-btn:active {
  background-color: var(--light-btn-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html .ace-btn--action,
html .ace-btn--error {
  color: var(--acterr-button-color);
}
html .ace-btn--action {
  border: 1px solid var(--action-border-color);
  background-color: var(--action-background-color);
}
html .ace-btn--action:hover {
  background-color: var(--action-background-color-hover);
}
html .ace-btn--action:active {
  background-color: var(--action-background-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
}
html .ace-btn--error {
  border: 1px solid var(--error-border-color);
  background-color: var(--error-background-color);
}
html .ace-btn--error:hover {
  background-color: var(--error-background-color-hover);
}
html .ace-btn--error:active {
  background-color: var(--error-background-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
}
.ace-btn-grp {
  display: flex;
}
.ace-btn-grp .ace-btn {
  border-radius: 0;
}
.ace-btn-grp .ace-btn:first-child {
  border-radius: 4px 0 0 4px;
  border-right: none;
}
.ace-btn-grp .ace-btn:last-child {
  border-radius: 0 4px 4px 0;
  border-left: none;
}
html[data-theme="gray-dark"] .ace-btn-grp .ace-btn.active {
  background-color: var(--gray-dark-btn-bg-color-active);
}
html[data-theme="dark"] .ace-btn-grp .ace-btn.active {
  background-color: var(--dark-btn-bg-color-active);
}
html[data-theme="medium-gray"] .ace-btn-grp .ace-btn.active {
  background-color: var(--medium-gray-btn-bg-color-active);
}
html[data-theme="light"] .ace-btn-grp .ace-btn.active {
  background-color: var(--light-btn-bg-color-active);
}
input[type="checkbox"] {
  display: none;
}
.ace-checkbox {
  position: relative;
  margin-right: 0.625rem;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  user-select: none;
}
.ace-checkbox .ace-checkbox-text {
  vertical-align: middle;
}
.ace-checkbox .ace-checkbox-checkmark {
  position: relative;
  margin-right: 2px;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
}
.ace-checkbox .ace-checkbox-checkmark::after {
  content: '';
  position: absolute;
  width: 0.8rem;
  height: 4px;
  opacity: 0;
  background: transparent;
  border-style: solid;
  border-width: 3px;
  border-top: none;
  border-right: none;
  border-radius: 1px;
  transform: rotate(-50deg);
  transition: opacity 0.2s ease-in-out;
}
.ace-checkbox.checkbox-disabled {
  opacity: 0.6;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ace-checkbox.checkbox-checked .ace-checkbox-checkmark::after {
  opacity: 1;
}
html[data-theme="gray-dark"] .ace-checkbox {
  color: var(--gray-dark-text-color);
}
html[data-theme="gray-dark"] .ace-checkbox .ace-checkbox-checkmark {
  background: var(--gray-dark-chkrdo-bg-color);
  border: 1px solid var(--gray-dark-border-color);
  box-shadow: inset 0 1px #737373;
}
html[data-theme="gray-dark"] .ace-checkbox .ace-checkbox-checkmark:active {
  background-color: var(--gray-dark-chkrdo-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="gray-dark"] .ace-checkbox .ace-checkbox-checkmark::after {
  border-color: var(--gray-dark-checkmark-color);
}
html[data-theme="dark"] .ace-checkbox {
  color: var(--dark-text-color);
}
html[data-theme="dark"] .ace-checkbox .ace-checkbox-checkmark {
  background: var(--dark-chkrdo-bg-color);
  border: 1px solid var(--dark-border-color);
  box-shadow: inset 0 1px #636363;
}
html[data-theme="dark"] .ace-checkbox .ace-checkbox-checkmark:active {
  background-color: var(--dark-chkrdo-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="dark"] .ace-checkbox .ace-checkbox-checkmark::after {
  border-color: var(--dark-checkmark-color);
}
html[data-theme="medium-gray"] .ace-checkbox {
  color: var(--medium-gray-text-color);
}
html[data-theme="medium-gray"] .ace-checkbox .ace-checkbox-checkmark {
  background: var(--medium-gray-chkrdo-bg-color);
  border: 1px solid var(--medium-gray-border-color);
  box-shadow: inset 0 1px #efefef;
}
html[data-theme="medium-gray"] .ace-checkbox .ace-checkbox-checkmark:active {
  background-color: var(--medium-gray-chkrdo-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="medium-gray"] .ace-checkbox .ace-checkbox-checkmark::after {
  border-color: var(--medium-gray-checkmark-color);
}
html[data-theme="light"] .ace-checkbox {
  color: var(--light-text-color);
}
html[data-theme="light"] .ace-checkbox .ace-checkbox-checkmark {
  background: var(--light-chkrdo-bg-color);
  border: 1px solid var(--light-border-color);
  box-shadow: inset 0 1px #e0e0e0;
}
html[data-theme="light"] .ace-checkbox .ace-checkbox-checkmark:active {
  background-color: var(--light-chkrdo-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="light"] .ace-checkbox .ace-checkbox-checkmark::after {
  border-color: var(--light-checkmark-color);
}
input[type="radio"] {
  display: none;
}
.ace-radio {
  position: relative;
  margin-right: 0.625rem;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
  outline: none;
  user-select: none;
}
.ace-radio .ace-radio-text {
  vertical-align: middle;
}
.ace-radio .ace-radio-checkmark {
  position: relative;
  margin-right: 2px;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
}
.ace-radio .ace-radio-checkmark::after {
  content: '';
  position: absolute;
  width: 0.4rem;
  height: 0.4rem;
  opacity: 0;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.ace-radio.radio-disabled {
  opacity: 0.5;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ace-radio.radio-checked .ace-radio-checkmark::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.3);
}
html[data-theme="gray-dark"] .ace-radio {
  color: var(--gray-dark-text-color);
}
html[data-theme="gray-dark"] .ace-radio .ace-radio-checkmark {
  background: var(--gray-dark-chkrdo-bg-color);
  border: 1px solid var(--gray-dark-border-color);
  box-shadow: inset 0 1px #737373;
}
html[data-theme="gray-dark"] .ace-radio .ace-radio-checkmark:active {
  background-color: var(--gray-dark-chkrdo-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="gray-dark"] .ace-radio .ace-radio-checkmark::after {
  background-color: var(--gray-dark-checkmark-color);
}
html[data-theme="dark"] .ace-radio {
  color: var(--dark-text-color);
}
html[data-theme="dark"] .ace-radio .ace-radio-checkmark {
  background: var(--dark-chkrdo-bg-color);
  border: 1px solid var(--dark-border-color);
  box-shadow: inset 0 1px #636363;
}
html[data-theme="dark"] .ace-radio .ace-radio-checkmark:active {
  background-color: var(--dark-chkrdo-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="dark"] .ace-radio .ace-radio-checkmark::after {
  background-color: var(--dark-checkmark-color);
}
html[data-theme="medium-gray"] .ace-radio {
  color: var(--medium-gray-text-color);
}
html[data-theme="medium-gray"] .ace-radio .ace-radio-checkmark {
  background: var(--medium-gray-chkrdo-bg-color);
  border: 1px solid var(--medium-gray-border-color);
  box-shadow: inset 0 1px #efefef;
}
html[data-theme="medium-gray"] .ace-radio .ace-radio-checkmark:active {
  background-color: var(--medium-gray-chkrdo-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="medium-gray"] .ace-radio .ace-radio-checkmark::after {
  background-color: var(--medium-gray-checkmark-color);
}
html[data-theme="light"] .ace-radio {
  color: var(--light-text-color);
}
html[data-theme="light"] .ace-radio .ace-radio-checkmark {
  background: var(--light-chkrdo-bg-color);
  border: 1px solid var(--light-border-color);
  box-shadow: inset 0 1px #e0e0e0;
}
html[data-theme="light"] .ace-radio .ace-radio-checkmark:active {
  background-color: var(--light-chkrdo-bg-color-active);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
}
html[data-theme="light"] .ace-radio .ace-radio-checkmark::after {
  background-color: var(--light-checkmark-color);
}
.ace-switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
}
.ace-switch .ace-switch-checkmark {
  margin: 0;
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 0.5rem;
  outline: none;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
  vertical-align: middle;
}
.ace-switch .ace-switch-checkmark::after {
  content: "";
  position: absolute;
  top: -0.1875rem;
  left: -0.125rem;
  border-radius: 100%;
  transition: all 0.3s;
  width: 0.75rem;
  height: 0.75rem;
}
.ace-switch.switch-checked .ace-switch-checkmark::after {
  left: 100%;
  margin-left: -0.5rem;
}
.ace-switch.switch-disabled {
  opacity: 0.5;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
html[data-theme="gray-dark"] .ace-switch .ace-switch-checkmark,
html[data-theme="dark"] .ace-switch .ace-switch-checkmark,
html[data-theme="medium-gray"] .ace-switch .ace-switch-checkmark,
html[data-theme="light"] .ace-switch .ace-switch-checkmark {
  border: 1px solid #dcdfe6;
  background: #dcdfe6;
}
html[data-theme="gray-dark"] .ace-switch .ace-switch-checkmark::after,
html[data-theme="dark"] .ace-switch .ace-switch-checkmark::after,
html[data-theme="medium-gray"] .ace-switch .ace-switch-checkmark::after,
html[data-theme="light"] .ace-switch .ace-switch-checkmark::after {
  background-color: #fff;
  box-shadow: 0 2px 10px -1px rgba(171, 171, 171, 0.69);
}
html[data-theme="gray-dark"] .ace-switch.switch-checked .ace-switch-checkmark,
html[data-theme="dark"] .ace-switch.switch-checked .ace-switch-checkmark,
html[data-theme="medium-gray"] .ace-switch.switch-checked .ace-switch-checkmark,
html[data-theme="light"] .ace-switch.switch-checked .ace-switch-checkmark {
  border-color: #1896FD;
  background-color: #1896FD;
}
.ace-select {
  position: relative;
  padding: 0 1.5rem 0 0.3125rem;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
  font-size: 14px;
  height: 1.4rem;
  outline: none;
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
  cursor: pointer;
}
.ace-select.select-disabled {
  opacity: 0.5;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ace-select .ace-select-frame input {
  outline: none;
  cursor: pointer;
  border: none;
  width: 100%;
}
.ace-select .ace-select-frame .ace-select-suffix {
  position: absolute;
  height: 100%;
  right: 0.5rem;
  top: 0;
  text-align: center;
  pointer-events: none;
  transition: transform 0.3s;
  transform: rotateZ(0deg);
  cursor: pointer;
  display: flex;
  align-items: center;
}
.ace-select .ace-select-frame .ace-select-suffix.select-reversed {
  transform: rotateZ(180deg);
}
.ace-select .ace-select-frame .ace-select-suffix i {
  border-style: solid;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  margin-top: -4px;
}
.ace-select .ace-select-dropdown {
  position: absolute;
  left: 0;
  margin-top: 0.3125rem;
  overflow: hidden;
  width: 100%;
  border-radius: 2px;
  box-sizing: border-box;
  padding: 0.375rem 0;
  max-height: 16.25rem;
  overflow-y: auto;
  transition: all 0.25s ease;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}
.ace-select .ace-select-dropdown.dropdown-open {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.ace-select .ace-select-dropdown::-webkit-scrollbar-track {
  border-radius: 0;
}
.ace-select .ace-select-dropdown::-webkit-scrollbar {
  width: 4px;
  height: 41.1859%;
}
.ace-select .ace-select-dropdown::-webkit-scrollbar-thumb {
  top: 2px;
  background-clip: padding-box;
}
.ace-select .ace-select-dropdown dd {
  font-size: 12px;
  margin: 0;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1.5rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.ace-select .ace-select-dropdown dd.actived {
  font-weight: bold;
}
.ace-select .ace-select-dropdown dt {
  font-size: 12px;
  padding: 0 10px;
  line-height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  user-select: none;
}
html[data-theme="gray-dark"] .ace-select {
  background-color: #424242;
  border: 1px solid var(--gray-dark-border-color);
}
html[data-theme="gray-dark"] .ace-select .ace-select-frame input {
  background-color: #424242;
  color: var(--gray-dark-text-color);
}
html[data-theme="gray-dark"] .ace-select .ace-select-frame .ace-select-suffix i {
  border-color: var(--gray-dark-text-color);
}
html[data-theme="gray-dark"] .ace-select .ace-select-dropdown {
  background-color: #424242;
  border: solid 1px var(--gray-dark-border-color);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
html[data-theme="gray-dark"] .ace-select .ace-select-dropdown::-webkit-scrollbar-track {
  background: #5f5f5f;
}
html[data-theme="gray-dark"] .ace-select .ace-select-dropdown::-webkit-scrollbar-thumb {
  background-color: #8c8c8c;
}
html[data-theme="gray-dark"] .ace-select .ace-select-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
html[data-theme="gray-dark"] .ace-select .ace-select-dropdown dd {
  color: var(--gray-dark-text-color);
}
html[data-theme="gray-dark"] .ace-select .ace-select-dropdown dd:hover {
  background-color: #50667c;
}
html[data-theme="gray-dark"] .ace-select .ace-select-dropdown dd.actived {
  background-color: #50667c;
}
html[data-theme="gray-dark"] .ace-select .ace-select-dropdown dt {
  color: #808080;
}
html[data-theme="dark"] .ace-select {
  background-color: #292929;
  border: 1px solid var(--dark-border-color);
}
html[data-theme="dark"] .ace-select .ace-select-frame input {
  background-color: #292929;
  color: var(--dark-text-color);
}
html[data-theme="dark"] .ace-select .ace-select-frame .ace-select-suffix i {
  border-color: var(--dark-text-color);
}
html[data-theme="dark"] .ace-select .ace-select-dropdown {
  background-color: #292929;
  border: solid 1px var(--dark-border-color);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
html[data-theme="dark"] .ace-select .ace-select-dropdown::-webkit-scrollbar-track {
  background: #1d1d1d;
}
html[data-theme="dark"] .ace-select .ace-select-dropdown::-webkit-scrollbar-thumb {
  background-color: #474747;
}
html[data-theme="dark"] .ace-select .ace-select-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #5b5b5b;
}
html[data-theme="dark"] .ace-select .ace-select-dropdown dd {
  color: var(--dark-text-color);
}
html[data-theme="dark"] .ace-select .ace-select-dropdown dd:hover {
  background-color: #314960;
}
html[data-theme="dark"] .ace-select .ace-select-dropdown dd.actived {
  background-color: #314960;
}
html[data-theme="dark"] .ace-select .ace-select-dropdown dt {
  color: #565656;
}
html[data-theme="medium-gray"] .ace-select {
  background-color: #d1d1d1;
  border: 1px solid var(--medium-gray-border-color);
}
html[data-theme="medium-gray"] .ace-select .ace-select-frame input {
  background-color: #d1d1d1;
  color: var(--medium-gray-text-color);
}
html[data-theme="medium-gray"] .ace-select .ace-select-frame .ace-select-suffix i {
  border-color: var(--medium-gray-text-color);
}
html[data-theme="medium-gray"] .ace-select .ace-select-dropdown {
  background-color: #d1d1d1;
  border: solid 1px var(--medium-gray-border-color);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
html[data-theme="medium-gray"] .ace-select .ace-select-dropdown::-webkit-scrollbar-track {
  background: #ababab;
}
html[data-theme="medium-gray"] .ace-select .ace-select-dropdown::-webkit-scrollbar-thumb {
  background-color: #858585;
}
html[data-theme="medium-gray"] .ace-select .ace-select-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}
html[data-theme="medium-gray"] .ace-select .ace-select-dropdown dd {
  color: var(--medium-gray-text-color);
}
html[data-theme="medium-gray"] .ace-select .ace-select-dropdown dd:hover {
  background-color: #8aa3c1;
}
html[data-theme="medium-gray"] .ace-select .ace-select-dropdown dd.actived {
  background-color: #8aa3c1;
}
html[data-theme="medium-gray"] .ace-select .ace-select-dropdown dt {
  color: #808080;
}
html[data-theme="light"] .ace-select {
  background-color: #fcfcfc;
  border: 1px solid var(--light-border-color);
}
html[data-theme="light"] .ace-select .ace-select-frame input {
  background-color: #fcfcfc;
  color: var(--light-text-color);
}
html[data-theme="light"] .ace-select .ace-select-frame .ace-select-suffix i {
  border-color: var(--light-text-color);
}
html[data-theme="light"] .ace-select .ace-select-dropdown {
  background-color: #fcfcfc;
  border: solid 1px var(--light-border-color);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
html[data-theme="light"] .ace-select .ace-select-dropdown::-webkit-scrollbar-track {
  background: #e3e3e3;
}
html[data-theme="light"] .ace-select .ace-select-dropdown::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
}
html[data-theme="light"] .ace-select .ace-select-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #d1d1d1;
}
html[data-theme="light"] .ace-select .ace-select-dropdown dd {
  color: #525252;
}
html[data-theme="light"] .ace-select .ace-select-dropdown dd:hover {
  background-color: #b3cbe7;
}
html[data-theme="light"] .ace-select .ace-select-dropdown dd.actived {
  background-color: #b3cbe7;
}
html[data-theme="light"] .ace-select .ace-select-dropdown dt {
  color: #b3b3b3;
}
.ace-card {
  padding: 0.625rem;
  border-radius: 2px;
  overflow: hidden;
  line-height: 1.375rem;
  font-size: 14px;
}
html[data-theme="gray-dark"] .ace-card {
  color: var(--gray-dark-text-color);
  box-shadow: 0 2px 10px -7px rgba(0, 0, 0, 0.69);
  background-color: #424242;
}
html[data-theme="dark"] .ace-card {
  color: var(--dark-text-color);
  box-shadow: 0 2px 10px -7px rgba(0, 0, 0, 0.69);
  background-color: #1f1f1f;
}
html[data-theme="medium-gray"] .ace-card {
  color: var(--medium-gray-text-color);
  box-shadow: 0 2px 10px -7px rgba(255, 255, 255, 0.69);
  background-color: #a5a5a5;
}
html[data-theme="light"] .ace-card {
  color: var(--light-text-color);
  box-shadow: 0 2px 10px -7px rgba(171, 171, 171, 0.69);
  background-color: #dedede;
}
.ace-badge--blue,
.ace-badge--green,
.ace-badge--gray,
.ace-badge--warm,
.ace-badge--red {
  height: 1.1875rem;
  padding: 0 0.3125rem;
  line-height: 1.1875rem;
  border-radius: 2px;
  display: inline-block;
  box-sizing: border-box;
  font-size: 12px;
  white-space: nowrap;
  cursor: default;
  color: var(--badge-font-color);
}
.ace-badge--blue {
  background-color: var(--blue-color);
}
.ace-badge--green {
  background-color: var(--green-color);
}
.ace-badge--gray {
  background-color: var(--gray-color);
}
.ace-badge--warm {
  background-color: var(--warm-color);
}
.ace-badge--red {
  background-color: var(--red-color);
}
.ace-notification--info,
.ace-notification--success,
.ace-notification--warning,
.ace-notification--error {
  padding: 0.15em 0.5em 0.2em;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
}
.ace-notification--info {
  background-color: var(--blue-color);
}
.ace-notification--success {
  background-color: var(--green-color);
}
.ace-notification--warning {
  background-color: var(--warm-color);
}
.ace-notification--error {
  background-color: var(--red-color);
}
input[type="range"]:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.ace-range {
  height: 0.215rem;
  outline: none;
  -webkit-appearance: none;
}
.ace-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 0.6rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
html[data-theme="gray-dark"] .ace-range {
  border: 1px solid var(--gray-dark-border-color);
  background-color: var(--gray-dark-bg-color);
}
html[data-theme="gray-dark"] .ace-range::-webkit-slider-thumb {
  background-color: #595b5b;
  border: 1px solid var(--gray-dark-border-color);
  box-shadow: inset 0 1px #737373;
}
html[data-theme="gray-dark"] .ace-range::-webkit-slider-thumb:hover {
  background-color: #838383;
}
html[data-theme="dark"] .ace-range {
  border: 1px solid var(--dark-border-color);
  background-color: var(--dark-bg-color);
}
html[data-theme="dark"] .ace-range::-webkit-slider-thumb {
  background-color: #414141;
  border: 1px solid var(--dark-border-color);
  box-shadow: inset 0 1px #636363;
}
html[data-theme="dark"] .ace-range::-webkit-slider-thumb:hover {
  background-color: #585858;
}
html[data-theme="medium-gray"] .ace-range {
  border: 1px solid var(--medium-gray-border-color);
  background-color: var(--medium-gray-bg-color);
}
html[data-theme="medium-gray"] .ace-range::-webkit-slider-thumb {
  background-color: #acacac;
  border: 1px solid var(--medium-gray-border-color);
  box-shadow: inset 0 1px #efefef;
}
html[data-theme="medium-gray"] .ace-range::-webkit-slider-thumb:hover {
  background-color: #cfcfcf;
}
html[data-theme="light"] .ace-range {
  border: 1px solid var(--light-border-color);
  background-color: var(--light-bg-color);
}
html[data-theme="light"] .ace-range::-webkit-slider-thumb {
  background-color: #cccccc;
  border: 1px solid var(--light-border-color);
  box-shadow: inset 0 1px #e0e0e0;
}
html[data-theme="light"] .ace-range::-webkit-slider-thumb:hover {
  background-color: #e7e7e7;
}
input[type="text"]:disabled {
  opacity: 0.5;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.ace-textinput {
  line-height: 1.4rem;
  font-size: 12px;
  letter-spacing: 0;
  padding: 0 0.6rem;
}
.ace-textinput:focus {
  outline: none;
}
html[data-theme="gray-dark"] .ace-textinput {
  border: 1px solid var(--gray-dark-border-color);
  background-color: #454545;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  color: var(--gray-dark-text-color);
}
html[data-theme="gray-dark"] .ace-textinput:focus {
  border: 1px solid var(--gray-dark-text-border-color-focus);
}
html[data-theme="dark"] .ace-textinput {
  border: 1px solid var(--dark-border-color);
  background-color: #292929;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  color: var(--dark-text-color);
}
html[data-theme="dark"] .ace-textinput:focus {
  border: 1px solid var(--dark-text-border-color-focus);
}
html[data-theme="medium-gray"] .ace-textinput {
  border: 1px solid var(--medium-gray-border-color);
  background-color: #d1d1d1;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  color: var(--medium-gray-text-color);
}
html[data-theme="medium-gray"] .ace-textinput:focus {
  border: 1px solid var(--medium-gray-text-border-color-focus);
}
html[data-theme="light"] .ace-textinput {
  border: 1px solid var(--light-border-color);
  background-color: #fcfcfc;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  color: var(--light-text-color);
}
html[data-theme="light"] .ace-textinput:focus {
  border: 1px solid var(--light-text-border-color-focus);
}
.ace-textarea {
  font-size: 12px;
  letter-spacing: 0;
  padding: 0.6rem;
  resize: none;
}
.ace-textarea:focus {
  outline: none;
}
.ace-textarea:disabled {
  opacity: 0.5;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
html[data-theme="gray-dark"] .ace-textarea {
  border: 1px solid var(--gray-dark-border-color);
  background-color: #454545;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  color: var(--gray-dark-text-color);
}
html[data-theme="gray-dark"] .ace-textarea:focus {
  border: 1px solid var(--gray-dark-text-border-color-focus);
}
html[data-theme="dark"] .ace-textarea {
  border: 1px solid var(--dark-border-color);
  background-color: #292929;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  color: var(--dark-text-color);
}
html[data-theme="dark"] .ace-textarea:focus {
  border: 1px solid var(--dark-text-border-color-focus);
}
html[data-theme="medium-gray"] .ace-textarea {
  border: 1px solid var(--medium-gray-border-color);
  background-color: #d1d1d1;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  color: var(--medium-gray-text-color);
}
html[data-theme="medium-gray"] .ace-textarea:focus {
  border: 1px solid var(--medium-gray-text-border-color-focus);
}
html[data-theme="light"] .ace-textarea {
  border: 1px solid var(--light-border-color);
  background-color: #fcfcfc;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05);
  color: var(--light-text-color);
}
html[data-theme="light"] .ace-textarea:focus {
  border: 1px solid var(--light-text-border-color-focus);
}
